#main {
    background-color: chartreuse;
    width: 300px;
    height: 500px;
}

#prev {
    background-color: blue;
    width: 20px;
    height: 20px;
}

#play {
    background-color: blueviolet;
    width: 50px;
    height: 50px;
}

#next {
    background-color: blue;
    width: 20px;
    height: 20px;
}