body {
    font-family: verdana;
    /*animation: backgroundColor 20s linear infinite;*/
    text-align: center;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#de2551, #6625de);
    width: 300px;
    height: 360px;
}

#control {
    margin: auto;
    text-align: center;
}

button {
    border-radius: 40%;
    border-style: none;
}

button:active {
    animation: buttonClick 500ms ease 0s 1 normal forwards;
}

#prev {
    background-color: blue;
    width: 50px;
    height: 50px;
}

button.play1 {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

button.play0 {
    background-color: red;
    width: 100px;
    height: 100px;
}

#next {
    background-color: blue;
    width: 50px;
    height: 50px;
}


@-webkit-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes backgroundGradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

@keyframes backgroundColor {
    0% {background-color: #bd39a3;}
    50% {background-color: #8a39bd;}
    100% {background-color: #bd39a3;}
}

@keyframes buttonClick {
    0% {
      animation-timing-function: ease-out;
      transform: scale(1);
      transform-origin: center center;
    }
  
    10% {
      animation-timing-function: ease-in;
      transform: scale(0.91);
    }
  
    17% {
      animation-timing-function: ease-out;
      transform: scale(0.98);
    }
  
    33% {
      animation-timing-function: ease-in;
      transform: scale(0.87);
    }
  
    45% {
      animation-timing-function: ease-out;
      transform: scale(1);
    }
  }